*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
--index: calc(1vw + 1vh);
--transition: 1.5s cubic-bezier(0.055,0.5,0,1,0);
}
@font-face {
  font-family:kamerik-3d ;
  src: url(kamerik205-heavy.woff2);
  font-weight: 900;
}
@font-face {
  font-family: merriweather-italic-3d;
  src: url(merriweather-regular-italic.woff2);
  font-weight: 900;
}
body{
  background-color: black;
  color:#fff ;
  font-family: kamerik-3d;
  margin: 0;
}
.layers {
  perspective: 1000px;
  overflow-x: hidden;
}
.layers__container {
height: 100vh;
transform-style: preserve-3d;
transform: rotateX(var(--movey)) rotateY(var(--movex));
will-change: transform;
transition: transform var(--transition);
}
.layers__item{
  position: absolute;
  inset: -5vw;
  background-size: cover;
  background-position: center;
  display: flex;
	align-items: center;
	justify-content: center;
}
.layer-1{
  transform: translateZ(-55px) scale(0.92);
  height: auto; 
   width: auto;
}
.layer-2{
  transform: translateZ(80px) scale(0.93);
 
}
.layer-3{
  transform: translateZ(180px)scale(0.8);
  width: auto;
}
.layer-4{
  transform: translateZ(190px)scale(0.9);
  width: auto;
}
.layer-5{
  transform: translateZ(300px)scale(0.8);
  width: auto;
}
.layer-6{
  transform: translateZ(380px)scale(0.90);
  width: auto;
}

.hero-content{
  font-size: calc(var(--index)*2.9);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: calc(var(--index) * -.15);
}
.hero-content__p {
	text-transform: none;
	font-family: merriweather-italic-3d;
	letter-spacing: normal;
	font-size: calc(var(--index) * 1.5);
	line-height: 3;
}
.button-start {
	font-family: Arial;
	font-weight: 600;
	text-transform: uppercase;
	font-size: calc(var(--index) * .71);
	letter-spacing: -.02vw;
	padding: calc(var(--index) * 1) calc(var(--index) * 2);
	background-color: transparent;
	color: #fff;
	border-radius: 10em;
	border: rgb(255 255 255 / .4) 3px solid;
	outline: none;
	cursor: pointer;
	margin-top: calc(var(--index) * 2);
}
.layer-4, .layer-5, .layer-6 {
	pointer-events: none;
}
.Achivments__container{
    background-image: url(img/12.png);
    height: 100vh;
    display: flex; 
    flex-wrap: wrap;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
}
.achievements-title { 
  font-size: calc(var(--index) * 2); 
  text-align: center; 
  margin: 40px 0 20px 0; 
  padding: 10px; 
  background-color: #333; 
  z-index: 1000; 
}

.achivments__item {
  background: #6a746a; 
  color: #f7f6f6; 
  font-family: merriweather-italic-3d;
  padding: calc(var(--index) * 1.1) calc(var(--index) * 1.1);
  margin: calc(var(--index) * 1);
  border-radius: 10px;
  font-size: calc(var(--index) * 0.9);
  text-align: center;
  max-width: 240px; 
  border: 2px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.achivments__item h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.achivments__item p {
  font-size: 1em;
  margin-bottom: 10px;
}

.achivments__item img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

@media (max-width: 1000px) { 
  .Achivments__container {
    flex-direction: column;

  }
}

.technologies-title { 
  font-size: calc(var(--index) * 2);
  text-align: center; 
  margin: 20px 0; 
  background-color: #333; 
  padding: 10px; z-index: 1000; 
} 
.Technologies__container { 
  display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px; 
    padding: 40px;  
    background-color: #444;
   } 
   .technology__item { 
    background: #6a746a; 
    color: #f7f6f6; 
    font-family: merriweather-italic-3d; 
    padding: calc(var(--index) * 0.7) calc(var(--index) * 1);
    border-radius: 10px;
    text-align: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    } 
  
    .technology__item img { 
      max-width: 100%; 
      height: auto; 
      border-radius: 5px; 
    } 
    .technology__item h3 { 
      font-size: 1.5em; 
      margin: 10px 0; 
    } 
    .technology__item p { 
      font-size: 1em; 
      margin: 10px 0; 
    } 
    @media (max-width: 900px) 
    { 
      .Technologies__container { 
        grid-template-columns: 1fr; 
      } 
    }


